:root {
    // colors
    --color-main: #672682d9;
    --color-main-2: #f3bb35;
    --color-secondary: #2196f3;
    --color-secondary-2: #4e2682d9;
    --color-tertairy: #161614;
    --color-light-1: #fff;
    --color-gray: #f5f5f5;
    --color-dark-1: #222;   
    --color-dark-2: #999999;

    // Box Shadows
    --box-shadow: 0 0.7rem 2.5rem rgba($color: #000, $alpha: 0.08);

    // color coordinates for processing status

    --status-delivered: #8de02c;
    --status-pending: #f3ca3f;
    --status-returned: #f00;
    --status-inprocess: #1795ce ;
    --gradient-color-4: linear-gradient(to right bottom, var(--color-main), var(--color-main-2)) ;
    --gradient-color-5: linear-gradient(to left bottom, var(--color-main), var(--color-main-2)) ;
}
