.cat-select {
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__selected {
        outline: none;
        border: none;
        margin: 1.1rem 0;
        box-shadow: -8px 2px 1.3rem rgba(#000, .25%);
        width: 100%;
        scroll-behavior: smooth;
        cursor: grab;
        &:active, &:hover {
            cursor: grabbing;
            outline: red;
        }
        &::-webkit-scrollbar {
            width: 1.3rem;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 1px 1px 10px var(--color-main);
            border-radius: 1rem;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background-image: linear-gradient(to right bottom, var(--color-main), var(--color-main-2));
            border-radius: 1rem;
            &:hover {
                background-image: linear-gradient(to left bottom, var(--color-main), var(--color-main-2));
            }
        }
        option {
            cursor: pointer;
            box-shadow: -8px 2px 1.3rem rgba(#000, .25%);
            width: 100%;
            font-size: 16px;
            color: #555353;
            text-align: center;
            padding: 9px;
            border: 2px solid var(--color-light-1);
            &:active{
                background-image: linear-gradient(to right bottom, var(--color-main), var(--color-main-2));
            }
             &:hover{
                background-image: linear-gradient(to left bottom, var(--color-main), var(--color-main-2));
                color:var(--color-light-1) ;
            }
        }
    }
    &__selected--no-bar{
        outline: none;
        border: none;
        margin: 1.1rem 0;
        box-shadow: -8px 2px 1.3rem rgba(#000, .25%);
        width: 100%;
        scroll-behavior: smooth;
        cursor: grab;
        &:active, &:hover {
            cursor: grabbing;
            outline: red;
        }
        option {
            cursor: pointer;
            box-shadow: -8px 2px 1.3rem rgba(#000, .25%);
            width: 100%;
            color: #555353;
            font-size: 16px;
            text-align: center;
            padding: 9px;
            border: 2px solid var(--color-light-1);
            &:active{
                background-image: linear-gradient(to right bottom, var(--color-main), var(--color-main-2));
            }
             &:hover{
                background-image: linear-gradient(to left bottom, var(--color-main), var(--color-main-2));
                color:var(--color-light-1) ;
            }
        }
    }
}
