.form{
    &__group{
        position: relative;
        margin-bottom: 1rem;
    }
    &__input{
       @include para;
       padding: 1rem 0 0 1.5rem;
       font-family: inherit;
       color: inherit;
       height: 5rem;
       border-radius: 2px;
       background-color: rgba(0,0,0,.07);
       border: none;
       border-bottom: 3px solid transparent ;
       width: 100%;
       display: block;
       transition: all .3s;
       &:focus{
           outline: none;
           box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
           border-bottom: 3px solid var(--color-danger) ;
           &:valid{
               border-bottom: 3px solid var(--color-success) ;
           }
       }
       &::-webkit-input-placeholder{
           color: #555353;
      }
    }
    &__label{
        position: absolute;
        top: -6px;
        left: 0;
        color: #555353;
       font-size: 1.2rem;
       margin-left: 1rem;
       font-weight: 400;
       margin-top: .7rem;
       display: block;
       transition: all .5s;
    }
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(1rem);
    }
}